---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about"
	description="about me and the site"
	pubDate={new Date('November 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hey, I am Braxton Barr, 
		an undergraduate university student with interests in psychology, 
		and psychological statistics/research. 
		But, I have more interests beyond what I am concentrated on studying; 
		mixed martial arts, typesetting, golfing, gardening, learning new things, photography, 
		video editing and compositing, working out, the list goes on and on. 
		I am an advocate for open source software, and consumer rights. 
	</p>

	<p>
		I am borrowing philosophy from Donald Knuth's "The TeXbook" for this site, 
		in which he says that "if you work in computing, you ought to write a book about it", 
		which is exactly the use case for this site. Whenever I have a spark of inspiration, 
		work on a project, find something interesting I want to research further, 
		I may as well write about it here. 
	</p>
</Layout>
